<div class="admin-home">
<div id="background"></div>

<div class="admin-home-container">
  <h1 class="heading">Admin Panel</h1>

  <div class="info-row">
    <div class="info-box">
      <h2>Active Members</h2>
      <p>{{ activeMembers }}</p>
    </div>
    <div class="info-box">
      <h2>Trainers</h2>
      <p>{{ trainers }}</p>
    </div>
  </div>

  <div class="options">
    <button class="btn btn-primary btn-lg" >Add New Membership</button>
    <button class="btn btn-primary btn-lg" >Slot Management</button>
    <button class="btn btn-primary btn-lg" >Trainer Management</button>
    <button class="btn btn-primary btn-lg" >Attendance</button>
    <button class="btn btn-primary btn-lg" >Finance</button>
    
  </div>
</div>
</div>